<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6" id="img-bg">
            
        </div>

        <div class="col-md-6">
            <div class="row d-flex justify-content-center mb-5">

            <form class="col-md-9">
                <h3 class="text-center mb-3">Cadastro</h3>
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" class="form-control" placeholder="Example input" id="nome" >
                    <div id="txtNome"></div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" id="email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  <div id="txtEmail"></div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Link photo</label>
                  <input type="link" class="form-control" placeholder="URL" id="link" >
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" placeholder="Password" id="senha" >
                    <div id="txtSenha"></div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Confirm Password</label>
                  <input type="password" class="form-control" placeholder="Confirm Password" id="confirmaSenha" >
                    <div id="txtConfSenha"></div>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="form-buttom d-flex justify-content-center mt-3">
                  <div class="col-md-5">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
                <div class="col-md-3">
              <button type="submit" class="btn btn-danger" routerLink='/entrar'>Cancelar</button>
                </div>
          </div>
              </form>
        </div>
    </div>
                
    </div>
</div>

