<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6" id="img-bg">
            
        </div>

        <div class="col-md-6">
            <div class="row d-flex justify-content-center mb-5">

            <form class="col-md-9">
                <h3 class="text-center mb-3">Cadastro</h3>
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input [(ngModel)] = 'usuario.nome' type="text" class="form-control" placeholder="Example input" id="nome" name="nome">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput">Usuario</label>
                  <input [(ngModel)] = 'usuario.usuario' type="text" class="form-control" placeholder="Example input" id="usuario" name="usuario">
              </div>
                <!-- <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" id="email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  <div id="txtEmail"></div>
                </div> -->
                <div class="form-group">
                  <label for="exampleInputPassword1">Link photo</label>
                  <input [(ngModel)]='usuario.foto' type="link" class="form-control" placeholder="URL" id="link" name="link" >
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input (input)='confirmarSenha($event)' type="password" class="form-control" placeholder="Password" id="senha" name="senha" >
                    <div id="txtSenha"></div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Confirm Password</label>
                  <input [(ngModel)]='usuario.senha' type="password" class="form-control" placeholder="Confirm Password" id="confirmaSenha" name="confirmsenha" >
                </div>
                <div class="form-group">
                  <label for="tipo">Tipo de Usuario</label>
                  <select (change)='tipoUser($event)' class="form-control" name="tipo" id="tipo">
                    <option>Selecione um tipo de usuario</option>
                    <option value="normal">Normal</option>
                    <option value="administrador">administrador</option>
                  </select>
                </div>
                <div class="form-buttom d-flex justify-content-center mt-3">
                  <div class="col-md-5">
                <button (click)='cadastrar()' type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
                <div class="col-md-3">
              <button type="submit" class="btn btn-danger" routerLink='/entrar'>Cancelar</button>
                </div>
          </div>
              </form>
        </div>
    </div>
                
    </div>
</div>

